{% extends "main.html" %}

{% block title %}
    Resume
{% endblock title %}

{% block content %}
    <div class="row mt-5">
        {% for i in list %}
            <div class="col-xxl-3 mb-4">
                <div class="card">
                    <img src="https://static.generated.photos/vue-static/face-generator/landing/wall/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Python&Django Developer</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="{% url 'RP' %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}