{% extends "main.html" %}

{% block title %}
    Resume
{% endblock title %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xxl-9 border border-info m-auto p-5">
            <div class="row">
                <div class="col-xxl-3 border-end border-info">
                    <div class="resume-img">
                        <img class="img-fluid" src="https://static.generated.photos/vue-static/face-generator/landing/wall/7.jpg" alt="">
                    </div>
                    <div class="abilty">
                        <h4>Imkonyatlari</h4>
                        <ul>
                            <li>MASULYAT</li>
                            <li>PYTHON</li>
                            <li>DJANGO</li>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>GIT</li>
                            <li>BOOTSTRAP5</li>
                            <li>lINUX COMMANDS</li>
                        </ul>
                        <h4>Chet tillari</h4>
                        <ul>
                            <li>Ingliz tili</li>
                            <li>Rus tili</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-8 px-5">
                    <h1>Akmal Nurmatov</h1>
                    <h4>Python&Django Developer</h4>
                    <div class="user-data">
                        <ul>
                            <li>Email: admin@example.com</li>
                            <li>Telefon raqam: (+998) 33 458-45-74</li>
                            <li>Manzili: Toshkent vil Nurafshon shaxar</li>
                            <li>Millati: Uzbek</li>
                            <li>Ona tili: O'zbek</li>
                        </ul>
                    </div>
                    <div class="about-user">
                        <h3>Tahsil olgan joylari:</h3>
                        <span>2007-2016</span>
                        <p>Toshkent vil Nurafshon shaxar 26-maktab</p>
                        <span>2016-2019</span>
                        <p>2-kasb hunar kolleji</p>
                        <h3>Ish Tajribasi:</h3>
                        <span>2020-2022</span>
                        <p>"Real Soft" MCHJ</p>
                        <h3>Men haqimda</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis ab quasi necessitatibus inventore amet maxime temporibus adipisci ut, quidem, numquam placeat eaque recusandae? Praesentium non tempora debitis inventore reiciendis animi, delectus, voluptatum repellat laudantium magnam dolores excepturi omnis quidem ab veritatis voluptatibus aperiam cum porro assumenda quis doloribus culpa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}